static/css/styles.css linguist-vendored
templates/index.html linguist-vendored
templates/base.html linguist-vendored
templates/terms.html linguist-vendored
templates/privacy.html linguist-vendored
templates/404.html linguist-vendored