APScheduler==3.6.3
cryptography==3.2.1
Flask==1.1.2
icalendar==4.0.7
pymongo==3.11.2
rapidfuzz==0.14.2
requests==2.25.1


# requests
certifi==2020.12.5
chardet==4.0.0
idna==2.10
urllib3==1.26.4


# cryptography
six==1.15.0
cffi==1.14.4
pycparser==2.20


# flask
click==7.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
Werkzeug==1.0.1

Flask-WTF==0.14.3
WTForms==2.3.3
MarkupSafe==1.1.1


# icalendar
python-dateutil==2.8.1
pytz==2020.1


# production
dnspython==2.1.0
gunicorn==20.0.4