APScheduler==3.8.1
cryptography==35.0.0
Flask==2.0.2
icalendar==4.0.9
pymongo==3.12.1
rapidfuzz==1.8.2
requests==2.26.0


# requests
certifi==2022.12.7
charset-normalizer==2.0.7
idna==3.3
urllib3==1.26.7


# cryptography
six==1.16.0
cffi==1.15.0
pycparser==2.21


# flask
click==8.0.3
itsdangerous==2.0.1
Jinja2==3.0.3
Werkzeug==2.0.2

Flask-WTF==1.0.0
WTForms==3.0.0
MarkupSafe==2.0.1


# icalendar
python-dateutil==2.8.2
pytz==2021.3


# production
dnspython==2.1.0
gunicorn==20.1.0