{% extends 'base.html' %}

{% block body_block %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">Boyd Bot</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                </div>
            </div>
        </nav>
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-exclamation fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">{{ error.code }}</h2>
                        <h3 class="text-white mb-5">{{ error.name }}</h3>
                        <h5 class="text-white mb-5">{{ error.description }}</h5>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}