{% extends 'base.html' %}

{% block body_block %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">Boyd Bot</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                </div>
            </div>
        </nav>
        <section class="projects-section bg-gradient">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-file-alt fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Privacy Policy</h2>
                        <h5 class="text-white mb-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac pretium diam, eget accumsan metus. Donec ullamcorper leo non aliquet placerat. Donec bibendum turpis et interdum pretium. Integer tincidunt placerat sagittis. Duis auctor velit nec diam tincidunt, at vehicula enim luctus. Etiam consequat sodales sagittis. In euismod enim nec tempor pulvinar. Nam accumsan ultrices viverra.

Quisque nisi enim, varius ac elit faucibus, aliquam accumsan eros. Aliquam mollis, sapien eu maximus efficitur, nibh turpis maximus dolor, id volutpat turpis nibh ac tellus. Nulla sed ante id lacus venenatis sollicitudin. Nullam suscipit nisi id leo rutrum mollis. Mauris vitae tincidunt elit. Proin nulla neque, elementum eu diam ut, hendrerit fermentum tortor. Suspendisse vel lorem ullamcorper, tincidunt nulla ac, tristique nisl. Nunc est urna, elementum sed velit non, fermentum dignissim est. Morbi et justo in enim vehicula finibus.

Morbi consectetur vulputate tortor, eu tincidunt nunc eleifend quis. Curabitur in risus rhoncus, volutpat dolor sit amet, faucibus quam. Fusce ac enim tristique, dictum neque vitae, vehicula lacus. Pellentesque finibus elementum luctus. Donec tempor neque at ex pulvinar, fermentum malesuada leo accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at ultricies turpis. Donec consectetur ornare venenatis.

Praesent lectus libero, rhoncus at felis et, iaculis rhoncus mi. Vestibulum eu orci placerat dui tristique lacinia vel non nunc. Quisque id dolor vel dui tempus pharetra a quis mauris. Aenean ullamcorper vestibulum massa eget scelerisque. Pellentesque ultrices, quam vitae faucibus aliquet, dui erat scelerisque nisi, lobortis venenatis nunc orci at lacus. Nulla porta lacus in tristique gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam a tempus elit, vitae facilisis nulla. Proin porttitor, nunc non tempor dapibus, turpis sem tempor felis, nec imperdiet arcu tellus eget eros. Sed imperdiet turpis eros, ac gravida dui sollicitudin in.

Nunc mattis orci non bibendum hendrerit. Ut vulputate erat quam, et bibendum enim tempus quis. Donec eget magna diam. Suspendisse potenti. Praesent scelerisque ut orci et porttitor. Sed ante orci, elementum sed venenatis et, tincidunt quis felis. Nam semper erat vel consectetur aliquam. Sed tincidunt rutrum mauris, sit amet feugiat nisl elementum non. Donec tellus mauris, pulvinar vel leo non, interdum venenatis massa. Maecenas euismod turpis aliquet, dignissim erat sed, vulputate risus.
                        </h5>
                        <h4 class="text-white mb-5">User's Right To Be Forgotten</h4>
                        <h5 class="text-white mb-5">
                            In compliance with the EU Data Policies, and also because this option is a must irrespective of the policy, a user should be able to their data at their will. Therefore, you are free to have your data deleted.
                        </h5>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}