<!DOCTYPE html>

<html>
    <head>
        <title>Boyd Bot | Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- It's a good idea to style the registration form with a theme that is familiar to users and can get their trust.-->
        <link rel="shortcut icon" href="{{ url_for('boyd_bot.static', filename='img/unibot.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('boyd_bot.static', filename='css/hillhead-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('boyd_bot.static', filename='css/tooltip.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="region-main">
            <div class="box">
                {% if success %}
                    {{ config.TEMPLATES.MESSAGES.SUCCESS_MSG }}
                    <br><br>
                    <small>{{ config.TEMPLATES.MESSAGES.HELP_TEXT }}</small>
                {% else %}
                    {% if message %}
                        <div class="alert">{{message}}</div>
                    {% endif %}
                    <form action="{{ url_for('boyd_bot.new_user_registration', reg_id=form.reg_id.data) }}" method="post" validate>
                        {{ form.hidden_tag() }}
                        {{ form.uni_id(placeholder="Username", class_="form-control") }}
                        {{ form.uni_pw(placeholder=form.uni_pw.label.text, class_="form-control") }}
                        {{ form.submit(value="Log in with your GUID", class_="button-control") }}
                        <a href="https://password.gla.ac.uk/">Forgot your password?</a>
                        {% if allow_remember %}
                            {% if config.FEATURES.ONE_TIME_USE %}
                                <br>
                                {{ form.remember }} {{ form.remember.label }}
                                <sup><div class="tooltip">?<span class="tooltiptext">If unchecked, your credentials will not be stored.</span></div></sup>
                            {% endif %}
                            {% if config.FEATURES.SCHEDULER %}
                                <br><br>
                                {{ form.subscribe.label}}
                                <sup><div class="tooltip">?<span class="tooltiptext">The bot messages you about your schedule prior to classes.</span></div></sup>
                                {{ form.subscribe }}
                            {% endif %}
                            <script src="{{ url_for('boyd_bot.static', filename='js/form.js') }}"></script>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    </body>
</html>