{% extends 'base.html' %}


{% block body_block %}
<div class='box'>
        Landing Page in progress. <br/>
        <a href="https://www.facebook.com/uofgbot/">Facebook</a><br/>
        <a href="https://www.github.com/ineshbose/boyd_bot_messenger">GitHub</a><br/>
        <a href="https://www.behance.net/gallery/93421281/Glasgow-University-Timetable-Bot">Behance</a><br/>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fuofgbot%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=498205050877818" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>
{% endblock %}