{% extends 'base.html' %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
        <center>
            <h1>{{message}}</h1>
            <h1>Register</h1>
            <form action="/register" method="post" validate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.gla_id.label }}<br>
                    {{ form.gla_id(size=32) }}
                </p>
                <p>
                    {{ form.gla_pass.label }}<br>
                    {{ form.gla_pass(size=32) }}
                </p>
                <p>
                    <a href="https://password.gla.ac.uk/">Forgot your password?</a>
                </p>
                <p>{{ form.submit() }}</p>
            </form>
            </center>
{% endblock %}